In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [3]:
# Showing us how we should create a query to make schema  
filepath = 'yellow_tripdata_2021-01.csv'
df = pd.read_csv(filepath)
len(df)
# df_schema =pd.io.sql.get_schema(df, name= "yellow_taxi_data", con=engine)
# print(df_schema)

C:\Users\AsifB\AppData\Local\Temp\ipykernel_2676\578954447.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

1369765

In [4]:

filepath = 'yellow_tripdata_2021-01.csv'
df_itr = pd.read_csv(filepath, iterator=True,chunksize= 100000, low_memory=False)
df = next(df_itr)
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
print("inserted heading columns")

from time import time
def load_df_postgres_in_batches(df_itr):
    
    while True:
        try:
            t_start = time()
            df = next(df_itr)
            df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
            df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

            
            df.to_sql(name='yellow_taxi_data', con=engine,if_exists='append')
            t_end = time()
            print(('inserted another chunk, took %.3f second' % (t_end - t_start)))
        except StopIteration as stop:
            print("completed")
            print(stop)
            break
    print("all data is now inserted")

load_df_postgres_in_batches(df_itr)

inserted heading columns
inserted another chunk, took 19.855 second
inserted another chunk, took 16.363 second
inserted another chunk, took 18.403 second
inserted another chunk, took 15.990 second
inserted another chunk, took 16.188 second
inserted another chunk, took 16.396 second
inserted another chunk, took 17.003 second
inserted another chunk, took 16.871 second
inserted another chunk, took 15.961 second
inserted another chunk, took 17.229 second
inserted another chunk, took 19.311 second
inserted another chunk, took 16.876 second
inserted another chunk, took 11.401 second
completed

all data is now inserted

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

     LocationID  Borough   Zone  service_zone
0         False    False  False         False
1         False    False  False         False
2         False    False  False         False
3         False    False  False         False
4         False    False  False         False
..          ...      ...    ...           ...
260       False    False  False         False
261       False    False  False         False
262       False    False  False         False
263       False    False  False          True
264       False    False   True          True

[265 rows x 4 columns]